.bgImage {
  background-image: url("./../../../../assets/image 5.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: cover;
}

.mobileBgimg {
  background-image: url("./../../../../assets/imagemobielView.png");
  background-size: cover;
  background-position: center;
}
