.bgImage {
    background-image: url("./../../../../assets/image 5.png");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    
  }
  
  
  @media only screen and (max-width: 767px) {
  
    .bgImage {
      background-image: url("./../../../../assets/imagemobielView.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    
    }
    
  }